<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
<!-- hi -->
	<div class="container">

		<h1>Editar Categoria</h1>

		<div class="card">
			<div class="card-header">Edicion de la  Categoria</div>
			<div class="card-body">

				<form th:action="@{/categoria/save}" th:object="${categoria}" 
					method="post">
					
				
					
					<div class="form-group">
						<label for="nombre">Nombre:</label> 
						<input type="text" class="form-control" 
							placeholder="Nombre del categoria"
							th:field="*{nombre}">
					</div>
					
					
					
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/categoria}" class="btn btn-danger"> 
						<i class="fas fa-undo"></i> Cancelar 
					</a>
				</form>

			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>